body {
    
}

#cashRegisterBody {
    display: flex;
    flex-flow: column wrap;
    margin: auto;
}

#title {
    text-align: center;
}

#display {
    flex: 1 1 0px;;
    background: aqua;
    padding: 30px;
    font-size: 50px;
    text-align: right;
    border: solid 2px black;
}

#buttons {
    border: solid 2px black;
}

#row1, #row2, #row3, #row4, #row5 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

input[type=button] {
    flex: 1 1 auto;
    background-color: skyblue;
    border: solid 1px white;
    color: black;
    padding: 20px 10px;
    font-size: 20px;
    width: 100px;
    cursor: pointer;
}

input[type=button]:hover {
    background-color: gray;
}

@media only screen and (max-width: 460px) {
    #cashRegisterBody {
        width: 20rem;
    }
}