body {
    margin: 50px 0;
}

#title {
    margin: 20px 0;
    padding: 10px;
    border-radius: 25px;    
    background: white;
    color: black;
    font-size: 3em;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    text-align: center;
}

#cashRegisterBody {
    display: flex;
    flex-flow: column wrap;
    /* margin: 20px 0px; */
    margin: auto;
    padding: 0 50px;
    width: 700px;
    border: outset 25px rgb(231, 231, 231);
    border-radius: 50px;
    background: rgb(63, 62, 62);
}

#eqn {
    flex: 1 1 auto;
    align-self: stretch;
    padding: 30px 20px 30px 0;
    background: white;
    color: black;
    font-size: 50px;
    font-family: 'Abel', sans-serif;
    text-align: right;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

#display {
    flex: 1 1 auto;
    align-self: stretch;
    padding: 30px 20px 30px 0;
    background: white;
    color: black;
    font-size: 60px;
    font-family: 'Abel', sans-serif;
    text-align: right;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

#buttons {
    height: 350px;
}

#row1, #row2, #row3, #row4, #row5 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

input[type=button] {
    flex: 1 1 20%;
    padding: 11px 0;
    background-color: dimgray;
    color: white;
    font-size: 30px;
    font-family: 'Abel', sans-serif;
    cursor: pointer;
    outline: none;
    box-shadow: 0 2px #999;
}

input[type=button]#clear {
    background: lightcoral;
}

input[type=button].function {
    background: lightslategray;
}

input[type=button]#equal {
    background: lightseagreen;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

input[type=button]:active {
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}

input[type=button]:hover {
    background-color: paleturquoise;
    color: black;
}

input[type=button]#clear:hover{
    background-color: lightpink;
    color: black;
}

input[type=button]#equal:hover {
    background-color: mediumaquamarine;
    color: black;
}

@media only screen and (max-width: 1000px) {
    #cashRegisterBody {
        width: 20rem;
        display: flex;
        flex-flow: column wrap;
        margin: auto;
        padding: 0 30px;
        width: 500px;
        border: outset 20px rgb(231, 231, 231);
        border-radius: 50px;
        background: rgb(63, 62, 62);
    }
    
    #title {
        margin: 20px 0;
        padding: 10px;
        border-radius: 25px;    
        background: white;
        color: black;
        font-size: 2.2em;
        font-family: 'Abel', sans-serif;
        font-weight: bold;
        text-align: center;
    }

    #buttons {
        height: 340px;
    }
}

@media only screen and (max-width: 650px) {
    #cashRegisterBody {
        width: 20rem;
        display: flex;
        flex-flow: column wrap;
        margin: auto;
        padding: 0 20px;
        width: 300px;
        border: outset 10px rgb(231, 231, 231);
        border-radius: 50px;
        background: rgb(63, 62, 62);
    }
    
    #title {
        margin: 20px 0;
        padding: 10px;
        border-radius: 25px;    
        background: white;
        color: black;
        font-size: 2em;
        font-family: 'Abel', sans-serif;
        font-weight: bold;
        text-align: center;
    }

    #buttons {
        height: 330px;
    }
}